{
  "Comment": "Run daily asset inventory of cloud assets",
  "TimeoutSeconds": 86400,
  "StartAt": "Get AWS accounts",
  "States": {
    "Get AWS accounts": {
      "Type": "Task",
      "Next": "Map",
      "Parameters": {
        "Name": "/cartography/asset_inventory_account_list"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultSelector": {
        "accounts.$": "States.StringToJson($.Parameter.Value)"
      }
    },
    "Map": {
      "Type": "Map",
      "Iterator": {
        "StartAt": "Pass",
        "States": {
          "Pass": {
            "Type": "Pass",
            "Next": "Cartography",
            "Parameters": {
              "account.$": "$"
            }
          },
          "Cartography": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
              "Cluster": "${CARTOGRAPHY_CLUSTER}",
              "CapacityProviderStrategy": [
                {
                  "Base": ${MIN_ECS_CAPACITY},
                  "CapacityProvider": "FARGATE_SPOT",
                  "Weight": ${MAX_ECS_CAPACITY}
                },
                {
                  "Base": 0,
                  "CapacityProvider": "FARGATE",
                  "Weight": ${MIN_ECS_CAPACITY}
                }
              ],
              "TaskDefinition": "${CARTOGRAPHY_TASK_DEF}",
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "${CARTOGRAPHY_SERVICE_NAME}",
                    "Environment": [
                      {
                        "Name": "AWS_ACCOUNT",
                        "Value.$": "$.account"
                      },
                      {
                        "Name": "AWS_CONFIG_FILE",
                        "Value": "/config/role_config"
                      },
                      {
                        "Name": "NEO4J_URI",
                        "Value": "bolt://neo4j.internal.local:7687"
                      },
                      {
                        "Name": "NEO4J_USER",
                        "Value": "neo4j"
                      }
                    ]
                  }
                ]
              },
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "SecurityGroups": ["${SECURITY_GROUPS}"],
                  "Subnets":[${SUBNETS}]
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 120,
                "MaxAttempts": 4
              }
            ],
            "End": true
          }
        }
      },
      "MaxConcurrency": 1,
      "ItemsPath": "$.accounts",
      "ResultPath": null,
      "Next": "Neo4J Sentinel Forwarder"
    },
    "Neo4J Sentinel Forwarder": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster" : "${CARTOGRAPHY_CLUSTER}",
        "TaskDefinition" : "${SENTINEL_NEO4J_FORWARDER_TASK_DEF}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "SecurityGroups": ["${SECURITY_GROUPS}"],
            "Subnets":[${SUBNETS}]
          }
        }
      },
      "End": true
    }
  }
}