{
  "Comment": "Run daily asset inventory of cloud assets",
  "TimeoutSeconds": 86400,
  "StartAt": "CloudQuery",
  "States": {
    "CloudQuery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask",
      "Parameters": {
        "Cluster": "${CLOUDQUERY_CLUSTER}",
        "LaunchType": "FARGATE",
        "TaskDefinition": "${CLOUDQUERY_TASK_DEF}",
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "${CLOUDQUERY_SERVICE_NAME}",
              "Environment": [
                {
                  "Name": "CQ_S3_BUCKET",
                  "Value": "${CLOUDQUERY_S3_BUCKET}"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "SecurityGroups": [
              "${SECURITY_GROUPS}"
            ],
            "Subnets": [
              "${SUBNETS}"
            ]
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "ECS.AmazonECSException"
          ],
          "IntervalSeconds": 300,
          "MaxAttempts": 4,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": null,
          "Next": "Handle Failure"
        }
      ],
      "End": true
    },
    "Handle Failure": {
      "Type": "Pass",
      "End": true
    }
  }
}