**/.terraform/*
.terragrunt*
*.tfstate*
*.env

.DS_Store

# Python
.pytest_cache
__pycache__
.coverage

connector.zip

.cq

/tools/logs-analyzer/connection_logs.txt
/tools/logs-analyzer/cloudquery.log
/tools/logs-analyzer/cloudquery/*

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class
