[
  {
    "name": "cartography-config-init",
    "image": "${AWS_CLI_IMAGE}",
    "essential": false,
    "entryPoint": ["/bin/sh", "-c"],
    "command": ["echo ${GENERATE_CONFIG_SCRIPT_B64} | base64 -d | /bin/sh"],
    "environment": [
      {
        "name": "ORG_LIST_ROLE_ARN",
        "value": "${ORG_LIST_ROLE_ARN}"
      },
      {
        "name": "MGMT_ACCOUNT_ID",
        "value": "${MGMT_ACCOUNT_ID}"
      },
      {
        "name": "SPOKE_ROLE_NAME",
        "value": "${SPOKE_ROLE_NAME}"
      },
      {
        "name": "AWS_REGION",
        "value": "${REGION}"
      }
    ],
    "mountPoints": [
      {
        "sourceVolume": "cartography-config",
        "containerPath": "/config",
        "readOnly": false
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${AWS_LOGS_GROUP}",
        "awslogs-region": "${AWS_LOGS_REGION}",
        "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}-init"
      }
    }
  },
  {
    "name": "${CARTOGRAPHY_SERVICE_NAME}",
    "image": "${CARTOGRAPHY_IMAGE}",
    "essential": true,
    "dependsOn": [
      {
        "containerName": "cartography-config-init",
        "condition": "SUCCESS"
      }
    ],
    "environment": [
      {
        "name": "AWS_CONFIG_FILE",
        "value": "/config/role_config"
      },
      {
        "name": "AWS_STS_REGIONAL_ENDPOINTS",
        "value": "regional"
      },
      {
        "name": "NEO4J_URI",
        "value": "${NEO4J_BOLT_URI}"
      },
      {
        "name": "NEO4J_USER",
        "value": "neo4j"
      }
    ],
    "mountPoints": [
      {
        "sourceVolume": "cartography-config",
        "containerPath": "/config",
        "readOnly": true
      }
    ],
    "command": [
      "cartography",
      "--neo4j-uri",
      "${NEO4J_BOLT_URI}",
      "--neo4j-user",
      "neo4j",
      "--neo4j-password-env-var",
      "NEO4J_SECRETS_PASSWORD",
      "--aws-sync-all-profiles",
      "--aws-best-effort-mode"
    ],
    "secrets": [
      {
        "name": "NEO4J_SECRETS_PASSWORD",
        "valueFrom": "${NEO4J_SECRETS_PASSWORD}"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${AWS_LOGS_GROUP}",
        "awslogs-region": "${AWS_LOGS_REGION}",
        "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
      }
    }
  }
]
