[
  {
    "name" : "${DEPENDENCYTRACK_SERVICE_NAME}",
    "cpu" : 4096,
    "environment" : [
      {
        "name" : "ALPINE_DATABASE_MODE",
        "value" : "external"
      },
      {
        "name" : "ALPINE_DATABASE_DRIVER",
        "value" : "org.postgresql.Driver"
      },
      {
        "name" : "ALPINE_DATABASE_DRIVER_PATH",
        "value" : "/extlib/postgresql-42.2.5.jar"
      },
      {
        "name" : "ALPINE_DATABASE_POOL_ENABLED",
        "value" : "false"
      },
      {
        "name" : "ALPINE_CORS_ENABLED",
        "value" : "true"
      },
      {
        "name" : "ALPINE_CORS_ALLOW_ORIGIN",
        "value" : "*"
      },
      {
        "name" : "ALPINE_CORS_ALLOW_METHODS",
        "value" : "GET, POST, PUT, DELETE, OPTIONS"
      },
      {
        "name" : "ALPINE_CORS_ALLOW_HEADERS",
        "value" : "Origin, Content-Type, Authorization, X-Requested-With, Content-Length, Accept, Origin, X-Api-Key, X-Total-Count, *"
      },
      {
        "name" : "ALPINE_CORS_ALLOW_CREDENTIALS",
        "value" : "true"
      },
      {
        "name" : "ALPINE_CORS_MAX_AGE",
        "value" : "3600"
      }
    ],
    "essential" : true,
    "image" : "${DEPENDENCYTRACK_API_IMAGE}",
    "mountPoints" : [
      {
        "sourceVolume" : "${DEPENDENCYTRACK_SERVICE_NAME}",
        "containerPath" : "/data",
        "readOnly" : false
      }
    ],
    "logConfiguration" : {
      "logDriver" : "awslogs",
      "options" : {
        "awslogs-group": "${AWS_LOGS_GROUP}",
        "awslogs-region": "${AWS_LOGS_REGION}",
        "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
      }
    },
    "portMappings" : [
      {
        "hostPort" : 8080,
        "ContainerPort" : 8080,
        "Protocol" : "tcp"
      }
    ],
    "secrets" : [
      {
        "name" : "ALPINE_DATABASE_URL",
        "valueFrom" : "${ALPINE_DATABASE_URL}"
      }
    ]
  }
]