[  
  {
    "name" : "pomerium_sso_proxy_auth",
    "environment" : [
      {
        "name" : "IDP_PROVIDER",
        "value" : "google"
      },
      {
        "name" : "LOG_LEVEL",
        "value" : "debug"
      }
    ],
    "essential" : true,
    "image" : "${POMERIUM_VERIFY_IMAGE}",
    "logConfiguration" : {
      "logDriver" : "awslogs",
      "options" : {
          "awslogs-group": "${AWS_LOGS_GROUP}",
          "awslogs-region": "${AWS_LOGS_REGION}",
          "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
      }
    },
    "portMappings" : [
      {
        "hostPort" : 8000,
        "ContainerPort" : 8000,
        "Protocol" : "tcp"
      }
    ],
    "secrets" : [
      {
        "name" : "SHARED_SECRET",
        "valueFrom" : "${POMERIUM_CLIENT_ID}"
      },
      {
        "name" : "COOKIE_SECRET",
        "valueFrom" : "${POMERIUM_CLIENT_SECRET}"
      },
      {
        "name" : "IDP_CLIENT_ID",
        "valueFrom" : "${POMERIUM_GOOGLE_CLIENT_ID}"
      },
      {
        "name" : "IDP_CLIENT_SECRET",
        "valueFrom" : "${POMERIUM_GOOGLE_CLIENT_SECRET}"
      }
    ]
  }
]