[
  {
    "name" : "pomerium_sso_proxy",
    "environment" : [
      {
        "name" : "AUTHENTICATE_SERVICE_URL",
        "value" : "${AUTHENTICATE_SERVICE_URL}"
      },
      {
        "name" : "AUTOCERT",
        "value" : "FALSE"
      },
      {
        "name" : "COOKIE_EXPIRE",
        "value" : "${COOKIE_EXPIRE}"
      },
      {
        "name" : "IDP_PROVIDER",
        "value" : "google"
      },
      {
        "name" : "INSECURE_SERVER",
        "value" : "true"
      },
      {
        "name" : "LOG_LEVEL",
        "value" : "debug"
      },
      {
        "name" : "ROUTES",
        "value" : "${ROUTES_FILE}"
      },
      {
        "name" : "COOKIE_DOMAIN",
        "value" : "${COOKIE_DOMAIN}"
      }
    ],
    "essential" : true,
    "image" : "${POMERIUM_IMAGE}",
    "logConfiguration" : {
      "logDriver" : "awslogs",
      "options" : {
          "awslogs-group": "${AWS_LOGS_GROUP}",
          "awslogs-region": "${AWS_LOGS_REGION}",
          "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
      }
    },
    "portMappings" : [
      {
        "hostPort" : 443,
        "ContainerPort" : 443,
        "Protocol" : "tcp"
      }
    ],
    "secrets" : [
      {
        "name" : "SHARED_SECRET",
        "valueFrom" : "${POMERIUM_CLIENT_ID}"
      },
      {
        "name" : "COOKIE_SECRET",
        "valueFrom" : "${POMERIUM_CLIENT_SECRET}"
      },
      {
        "name" : "IDP_CLIENT_ID",
        "valueFrom" : "${POMERIUM_GOOGLE_CLIENT_ID}"
      },
      {
        "name" : "IDP_CLIENT_SECRET",
        "valueFrom" : "${POMERIUM_GOOGLE_CLIENT_SECRET}"
      }
    ]
  }
]