name: "Terragrunt apply csp reports"

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/csp-reports-terragrunt-apply.yml"
      - "terragrunt/*/csp_violation_report_service/**"
      - "terragrunt/*/common/**"
      - "terragrunt/env/terragrunt.hcl"

env:
  AWS_REGION: ca-central-1
  CONFTEST_VERSION: 0.27.0
  TERRAFORM_VERSION: 1.1.9
  TERRAGRUNT_VERSION: 0.36.7
  TF_INPUT: false

permissions:
  id-token: write
  contents: read
  pull-requests: write
  actions: write
  checks: write
  statuses: write

jobs:
  terragrunt-apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6 # v2.6.0

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@v1

      - uses: cds-snc/paths-filter@87bb78bc509076907db04d7f616bd2533af0e7fe # tag=v2.10.3
        id: filter
        with:
          filters: |
            csp_violation_report_service:
              - 'terragrunt/aws/csp_violation_report_service/**'
              - 'terragrunt/env/csp_violation_report_service/**'
            common:
              - '.github/workflows/csp-reports-terragrunt-apply.yml'
              - 'terragrunt/env/common/**'
              - 'terragrunt/env/terragrunt.hcl'

      - name: configure aws credentials using OIDC
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT }}:role/gh_admin_role
          role-session-name: TFApply
          aws-region: ${{ env.AWS_REGION }}
        
      - name: Terragrunt apply csp reports
        if: ${{ steps.filter.outputs.csp_violation_report_service == 'true' || steps.filter.outputs.common == 'true' }}
        working-directory: "terragrunt/env/csp_violation_report_service"
        run: terragrunt apply --terragrunt-non-interactive -auto-approve          
