name: "Terragrunt apply software asset inventory"

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/software-asset-inventory-terragrunt-apply.yml"
      - "terragrunt/*/software_asset_inventory/**"
      - "terragrunt/*/common/**"
      - "terragrunt/env/terragrunt.hcl"

env:
  AWS_REGION: ca-central-1
  CONFTEST_VERSION: 0.27.0
  TERRAFORM_VERSION: 1.1.9
  TERRAGRUNT_VERSION: 0.36.7
  TF_INPUT: false

permissions:
  id-token: write
  contents: read
  pull-requests: write
  actions: write
  checks: write
  statuses: write

jobs:
  terragrunt-apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@v1

      - uses: cds-snc/paths-filter@v2.10.3
        id: filter
        with:
          filters: |
            software_asset_inventory:
              - 'terragrunt/aws/software_asset_inventory/**'
              - 'terragrunt/env/software_asset_inventory/**'
            common:
              - '.github/workflows/software-asset-inventory-terragrunt-apply.yml'
              - 'terragrunt/env/common/**'
              - 'terragrunt/env/terragrunt.hcl'

      - name: configure aws credentials using OIDC
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT }}:role/gh_admin_role
          role-session-name: TFApply
          aws-region: ${{ env.AWS_REGION }}

      - name: Get current date to determine if secrets need to be rotated
        run: echo "TF_VAR_password_change_id=$(date +'%Y-%m')" >> $GITHUB_ENV
        
      - name: Terragrunt apply software asset inventory
        if: ${{ steps.filter.outputs.software_asset_inventory == 'true' || steps.filter.outputs.common == 'true' }}
        working-directory: "terragrunt/env/software_asset_inventory"
        run: terragrunt apply --terragrunt-non-interactive -auto-approve          
