- from: https://auth.security.cdssandbox.xyz
  to: http://auth.794722365809.local:8000
  policy:
    - allow:
        or:
          - domain:
              is: security.cdssandbox.xyz
  cors_allow_preflight: true
  timeout: 30s

- from: https://csp-report-to.security.cdssandbox.xyz
  to: ${CSP_VIOLATION_REPORT_SERVICE_FUNCTION_URL}
  preserve_host_header: true
  cors_allow_preflight: true
  policy:
      - allow:
          or:
            - http_method:
                is: POST
            - http_method:
                is: PUT
          and:
            - http_path:
                is: /report