# Do not add a route for the auth. host: Pomerium (all-in-one) serves it via AUTHENTICATE_SERVICE_URL; an explicit route causes redirect loops.

- from: https://neo4j.security.cdssandbox.xyz
  to: http://neo4j-ui.internal.mesh:7474
  allow_websockets: true
  preserve_host_header: true
  cors_allow_preflight: true
  policy:
      - allow:
          or:
            - domain:
                is: cds-snc.ca

- from: https://bolt.security.cdssandbox.xyz
  to: http://neo4j-bolt.internal.mesh:7687
  allow_websockets: true
  preserve_host_header: true
  cors_allow_preflight: true
  set_response_headers:
    Access-Control-Allow-Origin: https://neo4j.security.cdssandbox.xyz
  policy:
      - allow:
          or:
            - domain:
                is: cds-snc.ca
